body{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.top-bar{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: darkgreen;
    justify-content: space-between;
    height: 40px;
    color: white;
   
}
.top-bar p{
    margin-left: 20px;
}
.top-bar1{
    display: flex;
    gap: 15px;
}
.top-bar1 p{
      margin-right: 20px;
}
.top-bar span{
    font-family: sans-serif;
}
.sidebar{
    display: flex;
    justify-content: space-between;
    
}
.sidebar img{
    color: black;
}
.shop{
    display: flex;
    padding: 15px;
    align-items: center;
}
.shop i{
    padding: 15px;
}
.shop h3{
    color: darkgreen;
}
.text1{
    padding: 15px;
    gap: 15px;
    margin: 10px;
}
.text2 {
    margin-left: 10px;
}
.text1 span{
     font-family: sans-serif;
}
.text3{
    display: flex;
    gap: 30px;
    padding: 30px;
    margin: 10px;
}
.text3 input{
    border-radius: 10px;
    padding: 5px;
}
.text4{
    display: flex;
    gap: 10px;
    padding: 32px;
    margin: 10px;
}
.text5{
    display: flex;
    padding: 15px;
    margin: 10px;
}
.text5 p{
    margin-right: 20px;
}
.text6{
    display: flex;
    background-color:pink ;
    margin: 20px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.text7{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
   
}
.text7 h2{
    margin-left: 10px;
    margin-bottom: 10px;
    color: darkgreen;

}
.text7 h3{
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 1px;
    color: darkgreen;
}
.text7 button{
    padding: 10px;
    width: 90px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: darkgreen;
}
.text8{
    display: flex;
    align-items: center;
}
.text8 img{
    margin-left:100px;
    max-width: 100%;
    height: auto;
}





